.foto-perfil {
    width: 200px;
    height: 200px;
    border-width: 0.2px;    
}

.body {
    background-color: #C2CAD0;
}

.img-thumbnail {
    border: none;
}

.nombre {
    font-size: 2.0rem !important; 
}

.bold {
    font-weight: bold;    
}


.childiv {
    width: 250px;
    height: 130px;
    
}

.parentdiv {
    
}


